body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 30%;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
form input[type="text"],
form input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
form input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
form  input[type="submit"]:hover {
    background-color: #0056b3;
}

.regbtn{
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
    padding: 10px;
    margin-left: 155px ;
    background-color: #0056b3;
}
.regbtn:hover{
    background-color: #3275bd;
}

.login-text{
    padding: 12px;
    margin-top: -100px;
    margin-left: 450px;
}